PROJECT: Bike Sales Data

Goal: To clean the data.

In [3]:
# Loading the dataset and viewing it's structure
import pandas as pd
data = pd.read_excel(r'C:\Users\hp\Desktop\PYTHON\uncleaned bike sales data.xlsx')

data.head()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [4]:
# Loading the info of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        89 non-null     int64
 1   Date                 89 non-null     datetime64[ns]
 2   Day                  88 non-null     float64
 3   Month                89 non-null     object
 4   Year                 89 non-null     int64
 5   Customer_Age         89 non-null     int64
 6   Age_Group            88 non-null     object
 7   Customer_Gender      89 non-null     object
 8   Country              89 non-null     object
 9   State                89 non-null     object
 10  Product_Category     89 non-null     object
 11  Sub_Category         89 non-null     object
 12  Product_Description  88 non-null     object
 13  Order_Quantity       88 non-null     float64
 14   Unit_Cost           89 non-null     int64
 15   Unit_Price          89 non-null     int64
 16   Profit              89 non-null     int64
 17   Cost                89 non-null     int64
 18  Revenue              89 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(8)
memory usage: 13.3+ KB

Removing extra spaces in strings

In [5]:
# Checking the header row (i.e names of each column) before the cleaning
print(data.columns)

data.columns = data.columns.str.strip()  # Removes extra spaces

print(data.columns)             # After cleaning

Index(['Sales_Order #', 'Date', 'Day', 'Month', 'Year', 'Customer_Age',
       'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product_Description', 'Order_Quantity', ' Unit_Cost ',
       ' Unit_Price ', ' Profit ', ' Cost ', 'Revenue'],
      dtype='object')
Index(['Sales_Order #', 'Date', 'Day', 'Month', 'Year', 'Customer_Age',
       'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product_Description', 'Order_Quantity', 'Unit_Cost',
       'Unit_Price', 'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [6]:
# Removing extra spaces from string-values in the dataset
for col in data.select_dtypes(include='object').columns:
    data[col] = data[col].str.strip()

Handling missing values

In [7]:
# Checking for missing values in each column
data.isnull().sum()

Sales_Order #          0
Date                   0
Day                    1
Month                  0
Year                   0
Customer_Age           0
Age_Group              1
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product_Description    1
Order_Quantity         1
Unit_Cost              0
Unit_Price             0
Profit                 0
Cost                   0
Revenue                0
dtype: int64

In [8]:
# Filtering the rows with their missing values

rows_with_missing_values = data[data.isnull().any(axis=1)]
print(rows_with_missing_values)

    Sales_Order #       Date  Day     Month  Year  Customer_Age  \
10         261704 2021-12-05  NaN  December  2021            42
15         261709 2021-12-06  6.0  December  2021            36
21         261715 2021-12-08  8.0  December  2021            39
22         261716 2021-12-08  8.0  December  2021            35

         Age_Group Customer_Gender        Country                State  \
10  Adults (35-64)               M        Germany  Nordrhein-Westfalen
15             NaN               M      Australia      New South Wales
21  Adults (35-64)               F  United States               Oregon
22  Adults (35-64)               F  United States           California

   Product_Category    Sub_Category     Product_Description  Order_Quantity  \
10            Bikes  Mountain Bikes  Mountain-200 Black, 38             4.0
15            Bikes  Mountain Bikes  Mountain-200 Black, 42             1.0
21            Bikes  Mountain Bikes                     NaN             2.0
22            Bikes  Mountain Bikes  Mountain-500 Black, 42             NaN

    Unit_Cost  Unit_Price  Profit  Cost  Revenue
10       1252        2295    4172  5008     9180
15       1252        2295    1043  1252     2295
21       1252        2295    2086  2504     4590
22        295         540     245     0        0

In [9]:
# The missing day value is filled in correspondant to the date
data.loc[10, 'Day'] = 5

In [10]:
# The missing Age_Group value is filled based on the age categorization in the column

customer_age = data.loc[15, 'Customer_Age']

if customer_age < 25:
    data.loc[15, 'Age_Group'] = 'Youth (<25)'
elif 25 <= customer_age <= 34:
   data.loc[15, 'Age_Group'] = 'Young Adults (25-34)'
elif 35 <= customer_age <= 64:
   data.loc[15, 'Age_Group'] = 'Adults (35-64)'

In [11]:
# I filled missing values of the Product_Description by comparing bikes with simiilar Unit_Cost, Unit_Price, Profit, Cost, Revenue
#I noticed that the Unit_cost of the missing column was 1252, and that price matches to 'Mountain-200 Black'. Now to specify the type of 'Mountain-200 Black', i fill the column with the most frequent 'Mountain-200 Black' which is :'Mountain-200 Black, 46'


from statistics import mode
most_frequent_model = mode(data.loc[data['Product_Description'].str.contains('Mountain-200 Black', na=False), 'Product_Description'])
print(most_frequent_model)


index_21_Unit_Cost = data.loc[21, 'Unit_Cost']
if index_21_Unit_Cost == 1252:
    data.loc[21, 'Product_Description'] = most_frequent_model

Mountain-200 Black, 46

In [12]:
# I filled missing values of the Order_quantity with 1. 
# This was concluded by comparing bikes with simiilar Unit_Cost, and I noticed that an Order_Quantity of 1 has a unit_Cost of: 295, Unit_Price of : 540, profit of: 245

rows_with_unit_cost_295 = data[data["Unit_Cost"] == 295]
print(rows_with_unit_cost_295)

data.loc[22, 'Order_Quantity'] = 1              #updating the missing value to 1

    Sales_Order #       Date   Day     Month  Year  Customer_Age  \
22         261716 2021-12-08   8.0  December  2021            35
28         261722 2021-12-10  10.0  December  2021            34
63         261757 2021-12-19  19.0  December  2021            19
69         261763 2021-12-19  19.0  December  2021            18
74         261768 2021-12-20  20.0  December  2021            29
87         261781 2021-12-23  23.0  December  2021            35

               Age_Group Customer_Gender        Country             State  \
22        Adults (35-64)               F  United States        California
28  Young Adults (25-34)               M  United States        California
63           Youth (<25)               F      Australia          Victoria
69           Youth (<25)               M      Australia   South Australia
74  Young Adults (25-34)               M         Canada  British Columbia
87        Adults (35-64)               F  United States        California

   Product_Category    Sub_Category     Product_Description  Order_Quantity  \
22            Bikes  Mountain Bikes  Mountain-500 Black, 42             NaN
28            Bikes  Mountain Bikes  Mountain-500 Black, 40             1.0
63            Bikes  Mountain Bikes  Mountain-500 Black, 44             4.0
69            Bikes  Mountain Bikes  Mountain-500 Black, 40             2.0
74            Bikes  Mountain Bikes  Mountain-500 Black, 52             3.0
87            Bikes  Mountain Bikes  Mountain-500 Black, 42             1.0

    Unit_Cost  Unit_Price  Profit  Cost  Revenue
22        295         540     245     0        0
28        295         540     245   295      540
63        295         540     980  1180     2160
69        295         540     490   590     1080
74        295         540     735   885     1620
87        295         540     245   295      540

Working on duplicates

In [13]:
# Check for duplicate rows
duplicates = data.duplicated()
print(duplicates)

# Count the number of duplicate rows
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")


# View duplicate rows
duplicate_rows = data[duplicates]
print(duplicate_rows)

# Dropping the duplicated row
data.drop_duplicates(inplace=True)


# I viewed the dataset after dropping duplicates and noticed that the index isn't in order, so we have to rest it.
data.reset_index(drop= True, inplace= True)


# i noticed row 1 and 2 shared the same 'Sales Order N0'. In most cases, sales Order no should be unique. I noted that the customers aren't related in anyway,so the sales number should be unique.
duplicated_sales_order_no = data[data.duplicated(subset=['Sales_Order #'], keep=False)]
print(duplicated_sales_order_no)

#Updating the duplicated sales order no
data.loc[1, 'Sales_Order #'] = 261696

data.loc[0 : 16]

0     False
1     False
2     False
3     False
4     False
      ...
84    False
85    False
86    False
87    False
88    False
Length: 89, dtype: bool
Number of duplicate rows: 1
   Sales_Order #       Date  Day     Month  Year  Customer_Age  \
7         261701 2021-12-03  3.0  December  2021            37

        Age_Group Customer_Gender        Country       State Product_Category  \
7  Adults (35-64)               M  United States  Washington            Bikes

     Sub_Category     Product_Description  Order_Quantity  Unit_Cost  \
7  Mountain Bikes  Mountain-200 Black, 46             1.0       1252

   Unit_Price  Profit  Cost  Revenue
7        2295    1043  1252     2295
   Sales_Order #       Date  Day     Month  Year  Customer_Age  \
0         261695 2021-12-01  1.0  December  2021            39
1         261695 2021-12-01  1.0  December  2021            44

        Age_Group Customer_Gender         Country       State  \
0  Adults (35-64)               F   United States  California
1  Adults (35-64)               M  United Kingdom     England

  Product_Category    Sub_Category      Product_Description  Order_Quantity  \
0            Bikes  Mountain Bikes   Mountain-200 Black, 46             4.0
1            Bikes  Mountain Bikes  Mountain-200 Silver, 42             1.0

   Unit_Cost  Unit_Price  Profit  Cost  Revenue
0       1252        2295    4172  5008     9180
1       1266        2320    1054  1266     2320

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261696,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590
5,261700,2021-12-03,3.0,December,2021,24,Youth (<25),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,1252,2295,1043,1252,2295
6,261701,2021-12-03,3.0,December,2021,37,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
7,261702,2021-12-04,4.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420,0,1396,1680,0
8,261703,2021-12-05,5.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
9,261704,2021-12-05,5.0,December,2021,42,Adults (35-64),M,Germany,Nordrhein-Westfalen,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4.0,1252,2295,4172,5008,9180
10,261705,2021-12-05,5.0,December,2021,35,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
11,261706,2021-12-05,5.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
12,261707,2021-12-06,6.0,December,2021,23,Youth (<25),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",3.0,420,769,1047,1260,2307
13,261708,2021-12-06,6.0,December,2021,27,Young Adults (25-34),M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252,2295,1043,1252,2295
14,261709,2021-12-06,6.0,December,2021,36,Adults (35-64),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
15,261710,2021-12-06,6.0,December,2021,47,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
16,261711,2021-12-07,7.0,Decmber,2021,30,Young Adults (25-34),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 38",4.0,420,769,1396,1680,3076

Correcting data types

In [14]:
# Viewing the datatype of the dataset
data.dtypes

Sales_Order #                   int64
Date                   datetime64[ns]
Day                           float64
Month                          object
Year                            int64
Customer_Age                    int64
Age_Group                      object
Customer_Gender                object
Country                        object
State                          object
Product_Category               object
Sub_Category                   object
Product_Description            object
Order_Quantity                float64
Unit_Cost                       int64
Unit_Price                      int64
Profit                          int64
Cost                            int64
Revenue                         int64
dtype: object

In [15]:


# changing the datatype of 'Day' column from float to int
data['Day'] = data['Day'].astype(int)


# changing the datatype of 'Order Quantity' column from float to int
data['Order_Quantity'] =data['Order_Quantity'].astype(int)


# Display the DataFrame to confirm
print(data)

    Sales_Order #       Date  Day     Month  Year  Customer_Age  \
0          261695 2021-12-01    1  December  2021            39
1          261696 2021-12-01    1  December  2021            44
2          261697 2021-12-02    2  December  2021            37
3          261698 2021-12-02    2  December  2021            31
4          261699 2021-12-03    3  December  2021            37
..            ...        ...  ...       ...   ...           ...
83         261778 2021-12-22   22  December  2021            41
84         261779 2021-12-23   23  December  2021            30
85         261780 2021-12-23   23  December  2021            31
86         261781 2021-12-23   23  December  2021            35
87         261782 2021-12-24   24  December  2021            38

               Age_Group Customer_Gender         Country             State  \
0         Adults (35-64)               F   United States        California
1         Adults (35-64)               M  United Kingdom           England
2         Adults (35-64)               M   United States        California
3   Young Adults (25-34)               F       Australia   New South Wales
4         Adults (35-64)               F  United  States        California
..                   ...             ...             ...               ...
83        Adults (35-64)               M         Germany            Hessen
84  Young Adults (25-34)               F   United States            Oregon
85  Young Adults (25-34)               F          Canada  British Columbia
86        Adults (35-64)               F   United States        California
87        Adults (35-64)               M       Australia        Queensland

   Product_Category    Sub_Category        Product_Description  \
0             Bikes  Mountain Bikes     Mountain-200 Black, 46
1             Bikes  Mountain Bikes    Mountain-200 Silver, 42
2             Bikes  Mountain Bikes  Mountain-400-W Silver, 46
3             Bikes  Mountain Bikes  Mountain-400-W Silver, 42
4             Bikes  Mountain Bikes     Mountain-200 Black, 46
..              ...             ...                        ...
83            Bikes  Mountain Bikes    Mountain-200 Silver, 38
84            Bikes  Mountain Bikes    Mountain-200 Silver, 42
85            Bikes  Mountain Bikes     Mountain-200 Black, 42
86            Bikes  Mountain Bikes     Mountain-500 Black, 42
87            Bikes  Mountain Bikes     Mountain-200 Black, 42

    Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  Revenue
0                4       1252        2295    4172  5008     9180
1                1       1266        2320    1054  1266     2320
2                2        420         769     698   840     1538
3                1        420         769     349   420      769
4                2          0        2295    2086     0     4590
..             ...        ...         ...     ...   ...      ...
83               1       1266        2320    1054  1266     2320
84               1       1266        2320    1054  1266     2320
85               1       1252        2295    1043  1252     2295
86               1        295         540     245   295      540
87               4       1252        2295    4172  5008     9180

[88 rows x 19 columns]

Text/value editing(dealing with inconsistencies)

In [16]:
# Replace underscores with spaces in column names
data.columns = data.columns.str.replace('_', ' ')
data.columns

Index(['Sales Order #', 'Date', 'Day', 'Month', 'Year', 'Customer Age',
       'Age Group', 'Customer Gender', 'Country', 'State', 'Product Category',
       'Sub Category', 'Product Description', 'Order Quantity', 'Unit Cost',
       'Unit Price', 'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [17]:
# Renaming columns
data.rename(columns={'Sales Order #': 'Sales Order No'}, inplace=True)

In [18]:
# Correcting typos in 'Month'
months_without_December = data[data['Month'] != 'December']
print(months_without_December)

data.loc[16, 'Month'] = 'December'

    Sales Order No       Date  Day    Month  Year  Customer Age  \
16          261711 2021-12-07    7  Decmber  2021            30

               Age Group Customer Gender        Country       State  \
16  Young Adults (25-34)               M  United States  California

   Product Category    Sub Category        Product Description  \
16            Bikes  Mountain Bikes  Mountain-400-W Silver, 38

    Order Quantity  Unit Cost  Unit Price  Profit  Cost  Revenue
16               4        420         769    1396  1680     3076

In [19]:
# It was observed taht row 5 had an input of 0 in both 'Unit Cost' and 'Cost' column
data.loc[4, 'Cost'] = data.loc[4, 'Revenue'] - data.loc[4, 'Profit']        # from observation, 'Profit' = 'Revenue' - 'Cost' . Since  'Cost' is missing, I did 'Cost' = 'Revenue' - 'Profit

data.loc[4, 'Unit Cost'] = data.loc[4, 'Cost'] / data.loc[4, 'Order Quantity']      # Since 'Cost' = 'Unit cost' * ' Order Quantity', 'Unit Cost' will be = 'Cost' / 'Order Quantity'


# It was observed that row 8 had an input of 0 in both 'Unit Price ' and 'Revenue' column
data.loc[7, 'Revenue'] = data.loc[7, 'Profit'] + data.loc[7, 'Cost']      #Since 'Profit' = 'Revenue' - 'Cost' , 'Revenue' will be = 'Profit' + 'Cost'

data.loc[7, 'Unit Price'] = data.loc[7, 'Revenue'] / data.loc[7, 'Order Quantity']      # Since 'Revenue' = 'Unit Price' * 'Order Quantity', 'Unit Price' = ''Revenue' / 'Order Quantity'


# It was observed that row 22 had an input of 0 in both 'Cost' and 'Revenue'
data.loc[21, 'Cost'] = data.loc[21, 'Unit Cost'] * data.loc[21, 'Order Quantity']

data.loc[21, 'Revenue'] = data.loc[21, 'Profit'] + data.loc[21, 'Cost']

Cleaned data

In [20]:
data.sample(7)

,Sales Order No,Date,Day,Month,Year,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product Description,Order Quantity,Unit Cost,Unit Price,Profit,Cost,Revenue
70,261765,2021-12-19,19,December,2021,39,Adults (35-64),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1,1266,2320,1054,1266,2320
22,261717,2021-12-09,9,December,2021,33,Young Adults (25-34),F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-100 Black, 38",2,1898,3375,2954,3796,6750
44,261739,2021-12-14,14,December,2021,30,Young Adults (25-34),F,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",2,1266,2320,2108,2532,4640
64,261759,2021-12-19,19,December,2021,35,Adults (35-64),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-100 Black, 48",4,1898,3375,5908,7592,13500
34,261729,2021-12-11,11,December,2021,38,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1,1266,2320,1054,1266,2320
74,261769,2021-12-20,20,December,2021,35,Adults (35-64),F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1,1266,2320,1054,1266,2320
0,261695,2021-12-01,1,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4,1252,2295,4172,5008,9180